<!--22-3. 삽입되는 것은 영역부터 잡아준다 for 통합해서 보일 때(필요시 보일 id도 같이 넣어준다)-->
<!--댓글의 영역에는 2가지 영역이 있다.-->
<div>
    <!-- 댓글 목록 _list -->
    {{>comments/_list}}

    <!-- 새 댓글 _new -->
    {{>comments/_new}}
</div>
