<!--4-2 기본 templates를 기본경로로 인식하며, 변수가 아니라 파일의 경우 꺽쇠를 이용해서 가져온다.-->
{{>layouts/header}}

<!-- 4-1 바뀌는 부분 윗대가리 전체를 잘라서 layouts > header.mustache로 옮긴다-->
<!-- content -->
<div class="bg-dark text-white p-5">
    <h1>{{username}}님, 방갑습니다!</h1>
</div>

{{>layouts/footer}}
