<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!--2-4. 다른 동료인 model을 활용하기 위해 view템플릿엔진에 변수{ { } }를 적용해본다.-->
<!--<h1>홍팍님, 반갑습니다!</h1>-->
<h1>{{username}}님, 반갑습니다!</h1>
<!--서버 내부에러가 뜬다 -> 변수를 보내준 곳이 없어서 -->
</body>
</html>
