{{>layouts/header}}

{{#article}}
    <!-- 13. action/method 변경    -->
    <form action="/articles/update" method="post" class="container">
        <!-- 13. -->
        <input type="hidden" name="id" value="{{id}}">
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" value="{{title}}">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea rows="3" class="form-control" name="content">{{content}}</textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <a href="/articles/{{id}}">Back</a>
    </form>
{{/article}}

{{>layouts/footer}}
